.header {
  position: relative;
  z-index: 10;

  padding-bottom: 21rem;

  color: $white;

  background-color: $black;
  background-image: url('../img/header-ellipse.svg'),
    linear-gradient(189deg, $black 80%, $white 20%);
  background-position: left bottom 5%, center;
  background-repeat: no-repeat;
}