.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 7.5rem;
  padding: 2.5rem 0;

  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    max-width: 43rem;
    width: 100%;

    line-height: 2rem;
  }

  &__link {
    &:hover {
      border-top: 2px dashed $white;
    }
  }
}