.portfolio {
  padding: 10rem 0;

  color: $white;
  text-align: center;

  background-color: $dark;

  &__title {
    margin-bottom: 2.5rem;
  }

  &__description {
    margin: 0 auto;
    margin-bottom: 6rem;
    max-width: 40rem;

    line-height: 2.6rem;
  }

  &__sort {
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .sort {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    max-width: 71rem;

    @media (max-width: $xm) {
      justify-content: space-evenly;
    }

    &__link {
      font-size: 1.8rem;
      line-height: 2.6rem;

      &:hover,
      &--active {
        color: $orange;
      }
    }
  }

  .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
  
    &__item {
      margin-bottom: 3rem;
      margin-right: 3rem;

      overflow: hidden;

      &:nth-child(1) {
        max-width: 43%;

        @media (max-width: $xm) {
          margin-right: 1rem;
          max-width: 49%;
        }

        @media (max-width: $xxs) {
          margin-right: 0;
          max-width: 98%;
        }
      }

      &:nth-of-type(2) {
        max-width: 32%;

        @media (max-width: $xxl) {
          margin-right: 0;
        }

        @media (max-width: $xm) {
          max-width: 49%;
        }

        @media (max-width: $xxs) {
          max-width: 98%;
          width: 98%;
        }
      }

      &:nth-of-type(3) {
        margin-right: 0;
        max-width: 23.5%;

        @media (max-width: $xxl) {
          margin-right: 3rem;
        }

        @media (max-width: $xm) {
          margin-right: 1rem;
          max-width: 23.5%;
        }

        @media (max-width: $xxs) {
          margin-right: 0;
          max-width: 98%;
          width: 98%;
        }
      }

      &:nth-of-type(4) {
        max-width: 56%;

        @media (max-width: $xxl) {
          max-width: 56%;
          margin-right: 0;
        }

        @media (max-width: $xm) {
          max-width: 74%;
        }

        @media (max-width: $xxs) {
          max-width: 98%;
          width: 98%;
        }
      }

      &:nth-of-type(5) {
        margin-right: 0;

        @media (max-width: $xxl) {
          max-width: 75%;
          width: 100%;
        }

        @media (max-width: $xm) {
          margin-right: 0;
          max-width: 98%;
        }
      }

      
    }

    &__link {
      display: block;

      width: 100%;
      height: 293px;
      overflow: hidden;
    }

    &__image {
      width: 100%;
      height: 100%; 

      object-fit: cover;
    }
  }
}