// fonts
@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('../fonts/#{$url}.woff') format('woff'),
         url('../fonts/#{$url}.woff2') format('woff2');
    font-weight: $weight;
    font-display: swap;
    font-style: normal;
  }
}

// other 
@mixin current-range($number, $width) {
  .skills__item:nth-of-type(#{$number}) {
    .skills__range-current {
      width: $width;
    }
  } 
}